version: v1alpha1
metadata:
  name: coreutils
  version: "{{ .VERSION }}"
  author: Wu-Wu
  description: |
    [{{ .TIER }}] This system extension provides GNU coreutils cat command.
  compatibility:
    talos:
      version: ">= v1.0.0"